################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/static/.vs
/.vs/config
/.vs/low_cost_tstat_server/v15
