[Unit]
Description=tstat

[Service]
Restart=always
RestartSec=30s
ExecStartPre=/usr/bin/docker pull gtfierro/low_cost_tstat_server
ExecStart=/usr/bin/docker run \
    --name %p \
    -p 80:80 \
    gtfierro/low_cost_tstat_server

ExecStop=/usr/bin/docker stop -t 30 %p ; /usr/bin/docker rm -f %p

[Install]
WantedBy=multi-user.target
