<div class="vxH100" ng-class="{ 'vxXsViewEnabled' : vxColSettings.xsViewEnabled == true}">
    <div class="row hidden-xs">
        <div class="col-xs-12">
            <div class="col-md-6 vsTableStats pull-left zeroPaddingLeft" ng-if="vxConfig.showGridStats">
                <label class="statTitle">All</label>
                <label class="statValue">{{getAllRowLength() | vxNumberFixedLen:2}}</label>
                <label class="statTitle" ng-class="{ 'disabled' : multiBoxFilters.length == 0}">Filtered</label>
                <label class="statValue" ng-class="{ 'disabled' : multiBoxFilters.length == 0}"><span ng-if="multiBoxFilters.length > 0">{{vxConfig.vxFilteredData.length | vxNumberFixedLen:2}}</span><span ng-if="multiBoxFilters.length == 0">00</span></label>
                <label class="statTitle" ng-class="{ 'disabled' : vxColSettings.multiSelected.length == 0}">Selected</label>
                <label class="statValue" ng-class="{ 'disabled' : vxColSettings.multiSelected.length == 0}">{{vxColSettings.multiSelected.length | vxNumberFixedLen:2}}</label>
            </div>
            <div class="col-md-6 vxTableOperations pull-right zeroPaddingRight" ng-if="vxConfig.showGridOptions">
                <div class="icon-container pull-right" role="button" tabindex="0" ng-class="{'active' : vxColSettings.menu }" vx-key="openManageColumns()">
                    <i class="icon icon-repair"></i>
                </div>
                <div class="icon-container pull-right" role="button" tabindex="{{multiBoxFilters.length == 0 ? -1 : 0}}" ng-class="{ 'disabled' : multiBoxFilters.length == 0}" vx-key="clearFilters()">
                    <i class="icon icon-refresh"></i>
                </div>
                <div class="icon-container pull-right" role="button" tabindex="0" ng-class="{'active' : vxColSettings.revealWrapRowData }" vx-key="revealWrapToggle()">
                    <i class="icon icon-more"></i>
                </div>
                <div class="icon-container pull-right" role="button" tabindex="{{vxColSettings.multiSelected.length == 0 ? -1 : 0 }}" ng-class="{ 'disabled' : vxColSettings.multiSelected.length == 0}" vx-key="clearSelection()">
                    <i class="icon icon-clearselection"></i>
                </div>
                <div class="icon-container pull-right" role="button" tabindex="{{vxColSettings.selectAllEnabled == false && vxConfig.multiSelectionEnabled == true ? -1 : 0}}" ng-class="{ 'disabled' :vxColSettings.selectAllEnabled == false && vxConfig.multiSelectionEnabled == true}" vx-key="selectAllFiltered()">
                    <i class="icon icon-openwith"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 vxTableContainer ms-datatable ang-dt zeroPadding" ng-class="{ 'settingsMenuOpen': vxColSettings.menu, 'attrPaneOpen': vxConfig.showGridStats || vxConfig.showGridOptions}">
        <div class='row marg0'>
            <div class="col-xs-12 vxTableHolder pad0">
                <table class="vxTable">
                    <thead class="vxHead">
                        <tr class="vxHeadRow">
                            <th class="vxHeadRowCell" ng-repeat="header in vxConfig.columnDefConfigs" ng-click="headerClick(header)" ng-class="{ 'ddEnabled' : vxColSettings.dropdDownEnabled[header.id] == true}" tabindex="0" click-outside="outsideHeaderClick(header)" ng-attr-id="vxHead_{{$index}}" ng-style="{ 'width' : header.width + 'px' }" ng-if="header.hidden == false && vxColSettings.xsViewEnabled == false">
                                <span ng-if="isValidHeaderName(header, header.columnName) && vxColSettings.dropdDownEnabled[header.id] == false && header.renderDefn == false">{{header.columnName}}</span>
                                <div class="dropdown" data-container="body" ng-if="vxColSettings.dropdDownEnabled[header.id] == true && header.renderDefn == false" ng-class="{ 'open' : vxColSettings.dropdDownOpen[header.id] == true}">
                                    <button class="btn btn-default dropdown-toggle" type="button" ng-attr-id="ddMenu_{{header.id}}" aria-expanded="true">
                                        <span class="colTitle">{{header.columnName}}</span>
                                        <span class="ddCaret" style="font-family: 'Segoe UI MDL Symbol'" ng-show="vxColSettings.colFiltersActivated[header.id] != true">&#XE0A1;</span>
                                        <span class="ddCaret" style="font-family: 'Segoe UI MDL Symbol'" ng-show="vxColSettings.colFiltersActivated[header.id] == true">&#XE71C;</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="ddMenu_{{header.id}}" data-container="body">
                                        <li tabindex="0" role="presentation" class="loader" ng-if="vxColSettings.dropdDownLoaded[header.id] == false">
                                            <img class="dropDownLoader" src="/Content/img/loaderWhite36.GIF" alt="dropdown addition in progress" />
                                        </li>
                                        <li tabindex="0" role="presentation" class="sorter" ng-if="vxColSettings.dropdDownLoaded[header.id] == true && vxColSettings.dropDownSort[header.id] == true" ng-click="sortClick(header)">
                                            <span class="sortIndicator" style="font-family: 'Segoe UI MDL Symbol'" ng-show="vxColSettings.reverse == false && vxColSettings.predicate == header.id">&#XE74A;</span><span class="sortIndicator" style="font-family: 'Segoe UI MDL Symbol'" ng-show="vxColSettings.reverse == true && vxColSettings.predicate == header.id">&#XE74B;</span>Sort
                                        </li>
                                        <li tabindex="0" role="presentation" class="filterClear" ng-if="vxColSettings.dropdDownLoaded[header.id] == true && vxColSettings.dropDownFilters[header.id] == true && vxColSettings.colFilterPairs[header.id].length > 0" ng-class="{ 'disabled': vxColSettings.colFiltersActivated[header.id] == false}" ng-click="filterClearClick(header)">
                                            <span class="segoe-ui-symbol indicator">&#XE16E;</span>Clear All Filters
                                        </li>
                                        <li role="presentation" class="filter" ng-if="vxColSettings.dropdDownLoaded[header.id] == true && vxColSettings.dropDownFilters[header.id] == true && filter.disabled == false" ng-repeat="filter in vxColSettings.colFilterPairs[header.id]">
                                            <input class="filter-toggle" type="checkbox" ng-model="vxColSettings.colFiltersStatus[filter.key]" ng-change="filterClick(header, filter)" /><label class="filterItemTitle">{{filter.name}}</label>
                                        </li>
                                    </ul>
                                </div>
                                <div ng-if="header.renderDefn == true" vx-compile="header.headerDefn"></div>
                            </th>
                            <th class="vxHeadRowCell" ng-if="vxColSettings.xsViewEnabled == true">
                                <div class="search-container pull-left input-group">
                                    <div class="searchSymb icon-container"><i class="icon icon-search"></i></div>
                                    <input class="search form-control" type="search" ng-model="vxColSettings.xsSearch" placeholder="Search" />
                                </div>
                                <div class="icon-container pull-right" role="button" tabindex="{{vxColSettings.xsSearch == '' ? -1 : 0}}" ng-class="{ 'disabled' : vxColSettings.xsSearch == ''}" vx-key="xsReset()">
                                    <i class="icon icon-refresh"></i>
                                </div>
                                <div class="icon-container pull-right hidden-xs" role="button" tabindex="0" ng-class="{'active' : vxColSettings.menu }" vx-key="openManageColumns()">
                                    <i class="icon icon-repair"></i>
                                </div>
                                <div class="icon-container pull-right" role="button" tabindex="{{vxColSettings.multiSelected.length == 0 ? -1 : 0 }}" ng-class="{ 'disabled' : vxColSettings.multiSelected.length == 0}" vx-key="clearSelection()" ng-if="vxConfig.selectionEnabled">
                                    <i class="icon icon-clearselection"></i>
                                </div>
                                <div class="icon-container pull-right" role="button" tabindex="{{vxColSettings.selectAllEnabled == false && vxConfig.multiSelectionEnabled == true ? -1 : 0}}" ng-class="{ 'disabled' :vxColSettings.selectAllEnabled == false && vxConfig.multiSelectionEnabled == true}" vx-key="selectAllFiltered()" ng-if="vxConfig.selectionEnabled">
                                    <i class="icon icon-openwith"></i>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="vxBody" vs-repeat vs-options="{latch: true}" vs-scroll-parent="{{scrollParent}}" vs-excess="{{vxColSettings.latchExcess}}" ng-class="{ 'revealWrap' : vxColSettings.revealWrapRowData }">
                        <tr class="{{vxColSettings.vxRowClass[row[vxColSettings.primaryId]]}} vxBodyRow" ng-repeat="row in ( vxConfig.vxFilteredData = (vxConfig.data | filter:vxColSettings.xsSearch | vxGridMultiBoxFilters: multiBoxFilters | orderBy:vxColSettings.predicate:vxColSettings.reverse))" ng-class="{ 'vxRowSelected' : vxColSettings.rowSelected[row[vxColSettings.primaryId]]}">
                            <td class="vxBodyRowCell" ng-repeat="header in vxConfig.columnDefConfigs" ng-style="{ 'width' : header.width + 'px' }" ng-if="header.hidden == false && row.type != 'groupRow' && vxColSettings.xsViewEnabled == false">
                                <span ng-if="header.renderDefn == false">{{row[header.id]}}</span>
                                <div ng-if="header.renderDefn == true" vx-compile-clone-link="header.cellDefn"></div>
                            </td>
                            <td class="vxBodyRowCell groupCell" ng-if="row.type == 'groupRow' && vxColSettings.xsViewEnabled == false" colspan="1">
                                <div vx-compile="row.cellDefn"></div>
                            </td>
                            <td class="vxBodyRowCell groupCell" ng-if="row.type == 'groupRow' && vxColSettings.xsViewEnabled == false" colspan="{{getVisibleHeaderCounts() - 1}}">
                                <span class="first">GROUPED BY {{row.colName}} : </span><span class="colname">{{row.value}}</span>
                            </td>
                            <td class="vxBodyRowCell xsCell" ng-if="vxColSettings.xsViewEnabled == true" ng-class="{ 'rowSelectionEnabled': vxConfig.selectionEnabled == true }">
                                <div class="xsSelectionHolder" vx-compile-clone-link="vxConfig.columnDefConfigs[0].cellDefn" ng-if="vxConfig.selectionEnabled"></div>
                                <div class="xsRowTitleHolder" ng-click="row.xsViewDetails = !row.xsViewDetails">
                                    <span ng-if="vxColSettings.xsRowTitleTemplateAvailable == false">{{row[vxColSettings.primaryId]}}</span>
                                    <div ng-if="vxColSettings.xsRowTitleTemplateAvailable == true" vx-compile="vxConfig.xsRowTitleTemplate"></div>
                                </div>
                                <div class="xsRowViewToggleHolder" ng-click="row.xsViewDetails = !row.xsViewDetails">
                                    <div class="icon-container">
                                        <i class="icon icon-ScrollChevronUpLegacy" ng-show="row.xsViewDetails"></i>
                                        <i class="icon icon-ScrollChevronDownLegacy" ng-show="!row.xsViewDetails"></i>
                                    </div>
                                </div>
                                <div class="col-xs-12 xsCellContentHolder" collapse="!row.xsViewDetails">
                                    <div class="xsCellContent" ng-repeat="header in vxConfig.columnDefConfigs" ng-if="$index > 0 && header.xsHidden == false && row.type != 'groupRow'">
                                        <div class="col-xs-12 xsCellHeader">{{header.columnName}}</div>
                                        <div class="col-xs-12 xsCellValue">
                                            <span ng-if="header.renderDefn == false">{{row[header.id]}}</span>
                                            <div ng-if="header.renderDefn == true" vx-compile-clone-link="header.cellDefn"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="icon-container scrollAction" role="button" tabindex="0" vx-key="justScrollTop()">
        <i class="icon icon-up"></i>
    </div>
</div>